<h3>entity add action</h3>

<form class="form" *ngIf="form" [formGroup]="form">
  <div class="form-group mb-2">
    <form-input placeholder="age in days" [formControlName]="EntityFields.ageInDays" type="text"></form-input>
  </div>
  <div class="form-group mb-2">
    <form-input placeholder="newborns" [formControlName]="EntityFields.newborns" type="text"></form-input>
  </div>
  <div class="form-group mb-2">
    <form-input placeholder="breeding number" [formControlName]="EntityFields.breedingNumber" type="text"></form-input>
  </div>
  <div class="form-group mb-2">
    <form-input placeholder="cow id" [formControlName]="EntityFields.cowId" type="text"></form-input>
  </div>
  <div class="form-group mb-2">
    <form-input placeholder="health index" [formControlName]="EntityFields.healthIndex"></form-input>
  </div>
</form>

<loading-button (activated)="submit(form)"
                (dataOut)="handleResponse()"
                [disabled]="form.invalid"
                [observable]="submit$">submit</loading-button>
