.table {
  $body-cell-height: 40px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
  max-height: 100%;

  .table-head {
    border-bottom: 1px solid #eee;

    .table-row {
      .table-column-head {
        font-size: 14px;
        font-weight: normal;
        position: relative;
        user-select: none;
        transition: all .15s;
      }

      &:first-child {
        .table-column-head {
          text-align: center;
        }
      }
    }
  }

  .table-body {
    position: relative;
    vertical-align: baseline;
    overflow: hidden;
    width: 100%;

    .table-row {
      height: $body-cell-height;

      .table-cell {
        min-height: 0;
      }
    }
  }

  .inner-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;

    loading {
      display: block;
      width: 100%;
    }
  }
}

