<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <div class="action"><button (click)="isAddEntity = true">add</button></div>
      </div>
    </div>
  </div>
 <div class="row">
   <div class="col-md-12">
     <table class="table" shDataTable>
       <thead class="table-thead" shDataTableThead>
       <th shDataTableTh [isSorting]="true">age in days</th>
       <th shDataTableTh [isSorting]="true">newborns</th>
       <th shDataTableTh [isSorting]="true">breeding number</th>
       <th shDataTableTh [isSorting]="true">cow id</th>
       <th shDataTableTh [isSorting]="true">health index</th>
       <th></th>
       </thead>

       <tbody>
       <tr>
         <td [attr.colspan]="Object.keys(EntitiesTableFields).length">

           <loading [observable]="entities$" (dataOut)="handleResponse($event)">
             <perfect-scrollbar [style.height.px]="scrollContainerHeight">
               <table class="inner-table" *ngIf="entityList?.length">
                 <tbody shDataTableTbody>
                 <tr shDataTableTr *ngFor="let entity of entityList; trackBy: trackEntityBy">
                   <td shDataTableTd [isEditable]="true" (edited)="patchEntity(entity, $event, EntitiesTableFields.ageInDays)" [value]="entity.ageInDays"></td>
                   <td shDataTableTd [isEditable]="true" (edited)="patchEntity(entity, $event, EntitiesTableFields.newborns)" [value]="entity.newborns"></td>
                   <td shDataTableTd [isEditable]="true" (edited)="patchEntity(entity, $event, EntitiesTableFields.breedingNumber)" [value]="entity.breedingNumber"></td>
                   <td shDataTableTd [isEditable]="true" (edited)="patchEntity(entity, $event, EntitiesTableFields.cowId)" [value]="entity.cowId"></td>
                   <td shDataTableTd [isEditable]="true" (edited)="patchEntity(entity, $event, EntitiesTableFields.healthIndex)" [value]="entity.healthIndex"></td>
                   <td>
                     <div class="actions">
                       <div class="action">
                         <!--todo MARKED QUICK BAD SOLUTION, MOVE REQUEST TO ACTIONS-->
                         <button (click)="deleteEntity(entity)">delete</button>
                       </div>
                     </div>
                   </td>
                 </tr>
                 </tbody>
               </table>

               <oops-no-content *ngIf="!entityList?.length"></oops-no-content>
             </perfect-scrollbar>
           </loading>

         </td>
       </tr>
       </tbody>
     </table>
   </div>
 </div>
</div>

<sh-add-entity-modal *ngIf="isAddEntity" (closeOut)="handleAddResponse($event)"></sh-add-entity-modal>
