<loading-button
        *ngIf="entity"
        [observable]="delete$"
        (dataOut)="handleResponse()"
        class="action-button" type="button"
        className="no-button"
        mwlConfirmationPopover
        [customTemplate]="templateRef"
        [closeOnOutsideClick]="false"
        [appendToBody]="true"
        [placement]="'right'"
        (confirm)="execute()">
  <svg class="remove" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</loading-button>

<ng-template #templateRef let-options="options">
  <simple-confirmation [options]="options">Remove row?</simple-confirmation>
</ng-template>
